{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>Regna Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %} rel="icon">
  <link href="{% static 'img/apple-touch-icon.png'%} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css'%} rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css'%}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->

</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src=static/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text logo -->
        <!--<h1><a href="#hero">Regna</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#portfolio">제품설명</a></li>
          <li><a href="#contact">상담신청</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
  <!--==========================
    Hero Section
  ============================-->


  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">
          <div class="col-lg-6 order-lg-1 order-2">
            <img src="static/img/main.jpeg" style="margin-left:80px; height:480px; width:400px">
          </div>
          
          <div class="col-lg-6 content order-lg-1 order-2">
            <div class="col-sm-12">
			<h1>[렌탈] 쿠쿠 인스퓨어 이지 필터 비데/가정용 사무실 업소용/36개월의무사용/등록비 설치비 전액면제/렌탈료 월9,900원</h1>
							<p class="help-block">손쉬운 설치와 간편한 필터 교체</p>
						<form name="fitem" method="post" action="./cartupdate.php" class="form item-form" role="form" onsubmit="return fitem_submit(this);">
			<input type="hidden" name="it_id[]" value="1585891694">
			<input type="hidden" name="it_msg1[]" value="">
			<input type="hidden" name="it_msg2[]" value="">
			<input type="hidden" name="it_msg3[]" value="">
			<input type="hidden" name="sw_direct">
			<input type="hidden" name="url">

			<table class="div-table table">
			<colgroup><col width="120">
			</colgroup><tbody>
										<tr><th scope="row">제조사</th><td>쿠쿠전자</td></tr>
										<tr><th scope="row">색상/방식/용량</th><td>화이트/수압,온수,온풍,시트온도,노즐 맞춤 조절/Full 스테인리스 3 in 1 노즐/노즐 청소, 어린이, 마사지 기능</td></tr>
										<tr><th scope="row">브랜드</th><td>쿠쿠</td></tr>
								    <tr><th scope="row">렌탈요금</th><td>
					        	<b>9,900원</b>
					        	<input type="hidden" id="it_price" value="9900">
			      	</td></tr>
													<tr>
                  </tr>
                                        <tr>
                  <th></th><td></td>
                </tr>
                </tbody>
                </table>
                  
			
		



        </div>
      </div>
    </section><!-- #about -->

    <!--==========================
      Facts Section
    ============================-->
    <section id="facts">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Facts</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">232</span>
            <p>Clients</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">521</span>
            <p>Projects</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,463</span>
            <p>Hours Of Support</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Hard Workers</p>
  				</div>

  			</div>

      </div>
    </section><!-- #facts -->



    <!--==========================
    Call To Action Section
    ============================-->
   <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">이름</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">휴대폰 번호</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">상담가능 시간</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
              <label class="my-1 mr-2" for="inlineFormCustomSelectPref">제휴카드로 할인 받으실 의향이 있으신가요?(제휴카드 이용 시 월 900원)</label>
              <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">            
                <option selected></option>
                <option value="1">예</option>
                <option value="2">아니오</option>
                <option value="3">생각해보겠습니다</option>
              </select>

              <div class="custom-control custom-checkbox my-1 mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlInline">
              </div>
            <button type="submit" class="btn btn-primary">상담신청하기</button>
         </form>

        </div>

      </div>
    </section><!-- #contact -->


    <!--==========================
      Portfolio Section
    ============================-->


          <section>
            <div class="container" style="margin-top:50px;">
              <img src="static/img/bidae1.jpg" alt="", style=" display:block; margin:0px auto; width:850px; ">
              <img src="static/img/bidae2.jpg" alt="", style=" display:block; margin:0px auto; width:850px; ">
              <img src="static/img/bidae3.jpg" alt="", style=" display:block; margin:0px auto; width:850px; ">
              <img src="static/img/bidae4.jpg" alt="", style=" display:block; margin:0px auto; width:850px; ">
              <img src="static/img/bidae5.jpg" alt="", style=" display:block; margin:0px auto; width:850px; ">
              <img src="static/img/bidae6.jpg" alt="", style=" display:block; margin:0px auto; width:850px; ">
              <img src="static/img/bidae7.jpg" alt="", style=" display:block; margin:0px auto; width:850px; ">
              <img src="static/img/bidae9.gif" alt="", style=" display:block; margin:0px auto; height:400px; width:850px; ">
              <img src="static/img/bidae8.jpg" alt="", style=" display:block; margin:0px auto; width:850px; ">
            </div>
          </section>
    

    

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Team</h3>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/team-1.jpg" alt=""></div>
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/team-2.jpg" alt=""></div>
              <h4>Sarah Jhinson</h4>
              <span>Product Manager</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/team-3.jpg" alt=""></div>
              <h4>William Anderson</h4>
              <span>CTO</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member">
              <div class="pic"><img src="static/img/team-4.jpg" alt=""></div>
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
              <div class="social">
                <a href=""><i class="fa fa-twitter"></i></a>
                <a href=""><i class="fa fa-facebook"></i></a>
                <a href=""><i class="fa fa-google-plus"></i></a>
                <a href=""><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
            <form>
            <div class="form-group">
              <label for="exampleInputEmail1">이름</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">휴대폰 번호</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">상담가능 시간</label>
              <input type="text" class="form-control" id="exampleInputPassword1">
            </div>
              <label class="my-1 mr-2" for="inlineFormCustomSelectPref">제휴카드로 할인 받으실 의향이 있으신가요?(제휴카드 이용 시 월 900원)</label>
              <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">            
                <option selected></option>
                <option value="1">예</option>
                <option value="2">아니오</option>
                <option value="3">생각해보겠습니다</option>
              </select>

              <div class="custom-control custom-checkbox my-1 mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlInline">
              </div>
            <button type="submit" class="btn btn-primary">상담신청하기</button>
         </form>
      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Regna</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js'%}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'lib/easing/easing.min.js'%}"></script>
  <script src="{% static 'lib/wow/wow.min.js'%}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js'%}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js'%}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js'%}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js'%}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
